{% extends "base.html" %}

{% block add_head %}
    <script type="text/javascript">
        let data = "{{ places_data }}";
        let places_data = JSON.parse(data.replace(/&quot;/g,'"'));
    </script>
	{% load static %}
	<script src="{% static 'scripts/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
{% endblock %}

{% block main %}
{% load static %}
<div class="container-fluid mt-4">
<div class="row">
    <div class="col-lg-4 col-md-4" col->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md mb-3 button-card">
                    <a class="card animated fadeInLeft bg-danger activated text-light p-2" style="animation-delay: 250ms;" id="show_plastic_button">
                        <img src="{% static 'image/plastic.png' %}" class="d-none d-lg-block card-img-top rounded-circle border border-light border-4 img-fluid" alt="Пластик">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Пластик
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md mb-3 button-card">
                    <a class="card animated fadeInLeft bg-primary activated text-light p-2" id="show_paper_button">
                        <img src="{% static 'image/paper.jpg' %}" class="d-none d-lg-block card-img-top rounded-circle border border-light border-4 img-fluid " alt="Бумага">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Бумага
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md mb-3 button-card">
                    <a class="card animated fadeInLeft bg-success activated text-light p-2" style="animation-delay: 750ms;" id="show_glass_button">
                        <img src="{% static 'image/glass.png' %}" class="d-none d-lg-block card-img-top rounded-circle border border-light border-4 img-fluid" alt="Стекло">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Стекло
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md mb-3 button-card">
                    <a class="card animated fadeInLeft bg-warning activated text-light p-2" style="animation-delay: 500ms;" id="show_accum_button">
                        <img src="{% static 'image/accum.jpg' %}" class="d-none d-lg-block card-img-top rounded-circle border border-light border-4 img-fluid" alt="Опасные предметы">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Опасное
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="col-lg-8 col-md-8 border border-dark" style="min-height: 400px; max-height: 700px">
    </div>
    </div>
</div>
{% endblock %}