{% extends 'base.html' %}

{% block main %}
<div class="container mt-4 text-center">
    <div class="container col-sm-8">
        <h2> Профиль </h2>

        <div class="btn-group mb-3 mt-2" role="group" aria-label="toggle">
            <!-- JS based buttons -->
            <button type="button" class="btn btn-outline-secondary active" id="watch_button">Просмотр</button>
            <button type="button" class="btn btn-outline-secondary" id="change_button">Изменить</button>
        </div>
        <table class="table" style="" id="watch">
            <tr>
                <td>Username</td>
                <td> {{ user.username }}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td> {{ user.email }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td> {{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Фамилия</td>
                <td> {{ user.last_name }}</td>
            </tr>
        </table>
        <form style="display: none;" id="change" method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            <div class="form-group row">
                <label for="{{ form.username.id_for_label }}" class="col-sm-2 col-form-label"> Username </label>
                <div class="col-sm-10">
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label"> E-mail </label>
                <div class="col-sm-10">
                    {{ form.email }}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 col-form-label"> Имя </label>
                <div class="col-sm-10">
                    {{ form.first_name }}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 col-form-label"> Фамилия </label>
                <div class="col-sm-10">
                    {{ form.last_name }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Изменить</button>
            {% if form.errors %}
                <div class="alert alert-danger text-center mt-4" role="alert">
                    {{ form.errors }}
                </div>
            {% endif %}
        </form>
        <script>
            $("#watch_button").click(function () {
                $("#watch").show();
                $("#change").hide();
                let cb = $("#change_button");
                if (cb.hasClass("active")) {
                    $("#watch_button").addClass("active");
                    cb.toggleClass("active", "");
                }
            });
            $("#change_button").click(function () {
                $("#change").show();
                $("#watch").hide();
                let wb = $("#watch_button");
                if (wb.hasClass("active")) {
                    $("#change_button").addClass("active");
                    wb.toggleClass("active", "");
                }
            });
        </script>
    </div>
    <div class="container col-sm-12 mt-2">
        {% if user.is_superuser %}
        <h2>Панель администратора</h2>
        <h3>Существующие места</h3>
        <div class="btn-group mb-3 mt-2" role="group" aria-label="first">
            <!-- JS based buttons -->
            <button type="button" class="btn btn-outline-info active" id="all_button">Все</button>
            <button type="button" class="btn btn-outline-danger" id="plastic_button">Пластик</button>
            <button type="button" class="btn btn-outline-primary" id="paper_button">Бумага</button>
            <button type="button" class="btn btn-outline-success" id="glass_button">Стекло</button>
            <button type="button" class="btn btn-outline-dark" id="accum_button">Опасно</button>
        </div>
        <form method="POST" action="{% url 'add_place' %}" id="id_form">
            {% csrf_token %}
            <table class="table" style="" id="all">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 35%;">Адрес</th>
                    <th scope="col">Координаты</th>
                    <th scope="col">Пластик</th>
                    <th scope="col">Бумага</th>
                    <th scope="col">Стекло</th>
                    <th scope="col">Опасные</th>
                    <td scope="col" ></td>
                </tr>
                </thead>

                {% for place in places %}
                <tr class="{{ place.css_class }}">
                    <th scope="row"> {{ place.id }}</th>
                    <td> {{ place.address }}</td>
                    <td> ({{ place.coordinate_x }}; {{ place.coordinate_y }})</td>
                    <td> {% if 'plastic' in place.type %} yes {% else %} no {% endif %}</td>
                    <td> {% if 'paper' in place.type %} yes {% else %} no {% endif %}</td>
                    <td> {% if 'glass' in place.type %} yes {% else %} no {% endif %}</td>
                    <td> {% if 'accum' in place.type %} yes {% else %} no {% endif %}</td>
                    <td><a href="{% url 'delete_place' place.id %}"><i class="fas fa-trash"></i></a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"> {{ place_form.address }}</td>
                    <td>
                        <div class="form-row">
                            <div class="col-sm-6">
                                {{ place_form.coordinate_x }}
                            </div>
                            <div class="col-sm-6">
                                {{ place_form.coordinate_y }}
                            </div>
                        </div>
                    </td>
                    <td class="align-middle"> {{ place_form.plastic }}</td>
                    <td class="align-middle"> {{ place_form.paper }}</td>
                    <td class="align-middle"> {{ place_form.glass }}</td>
                    <td class="align-middle"> {{ place_form.accum }}</td>
                    <td class="align-middle"> <a id="submit_add"><i class="fas fa-plus-circle"></i></a></td>
                    <script>
                        $("#submit_add").click(function() {
                            $("#id_form").submit();
                        })
                    </script>
                </tr>
            </table>
        </form>

        <script>
            let alb = $("#all_button");
            let plb = $("#plastic_button");
            let pab = $("#paper_button");
            let glb = $("#glass_button");
            let acb = $("#accum_button");
            let o = [alb, plb, pab, glb, acb];

            function removeActive() {
                for (let i = 0; i < o.length; i++) {
                    o[i].removeClass("active");
                }
            }

            alb.click(function () {
                removeActive();
                alb.addClass("active");

                $(".plastic").show();
                $(".paper").show();
                $(".glass").show();
                $(".accum").show();
            });

            plb.click(function () {
                removeActive();
                plb.addClass("active");

                $(".paper").hide();
                $(".glass").hide();
                $(".accum").hide();
                $(".plastic").show();
            });

            pab.click(function () {
                removeActive();
                pab.addClass("active");

                $(".plastic").hide();
                $(".glass").hide();
                $(".accum").hide();
                $(".paper").show();
            });

            glb.click(function () {
                removeActive();
                glb.addClass("active");

                $(".plastic").hide();
                $(".paper").hide();
                $(".accum").hide();
                $(".glass").show();
            });

            acb.click(function () {
                removeActive();
                acb.addClass("active");

                $(".plastic").hide();
                $(".paper").hide();
                $(".glass").hide();
                $(".accum").show();
            });

        </script>
        <div>

        </div>
        {% else %}
        <!-- Потенциальный функционал
        <h2>Заявки</h2>
        <div class="btn-group mb-3 mt-2" role="group" aria-label="toggle">
            <-- JS based buttons
            <button type="button" class="btn btn-outline-primary active" id="watch_request_button">Просмотр</button>
            <button type="button" class="btn btn-outline-primary" id="new_request_button">Изменить</button>
        </div>
        -->
        <!-- TODO table of requests and add new request form -->
        {% endif %}
    </div>
</div>
{% endblock %}
















